.playlistsDisplay {
    width: 50% !important;
}

.playlists {
    overflow-y: auto;
    height: 50vh;
    box-sizing: content-box;
}

.playlistsDisplayText {
    color: white !important;
}

.RefreshIconBtn {
    align-content: flex-start;
    background-color: #1db954 !important;
    margin-bottom: 0.5em !important;
}

.RefreshIconBtn:hover {
    background-color: #1ed760 !important;
}

.createPlaylistBtn {
    margin-top: 0.5em !important;
}

@media only screen and (max-width: 1024px) {
    .playlistsDisplay {
        width: 100% !important;
    }

    .RefreshIconBtn {
        margin: auto;
    }
}