.playlistCard {
    display: flex;
}

.content {
    width: 100%;

}

.add {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.5em;
    
}

.cover {
    width: 150px;
    height: 150px;
}