.allGrid {
    min-height: 100vh;
    flex-direction: column;
}

.gridDesc {
    margin-top: 10px !important;
    width: 80%;
    align-self: center;
    flex: 1 !important;
}

.topBar {
    background-color: black !important;
}

.mainToolBar {
    width: 80%;
    align-self: center;
}

.title {
    flex: 1;
}

.logoImg {
    margin-right: 0.1em;
}

.botBar {
    background-color: black !important;
}

.githubLink {
    color: #1db954;
}

.githubLink:hover {
    color: #1ed760;
}

.musicNoteIcon {
    color: #1db954;
}

@media only screen and (max-width: 425px) {
    .descText {
        font-size: 1rem !important;
    }

    .descTitle {
        font-size: 1.2rem !important;
    }
}